.eventsContianer {
  --fontSize14: 14px;
}

.headersTypeContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.eventSubHeader {
  margin-inline-start: 4px;
  margin-inline-end: 4px;
}

.position {
  font-size: var(--fontSize14);
  font-style: italic;
}

.location {
  font-size: var(--fontSize14);
  font-style: italic;
}
