.sectionLargeHeadingContainer {
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 0px;
  margin-right: 0px;
}

:root {
  --fontSize28: 28px;
  --fontSize24: 24px;
  --fontSize18: 18px;
  --fontSize16: 18px;
  --fontSize14: 14px;
  --fontSize12: 12px;
  --fontSize10: 10px;
  --fontSize8: 8px;
  --fontSize4: 4px;
}
