.headersTypeContainer {
  justify-content: space-between;
  align-items: center;
}

.header {
  margin-block-start: 4px;
  margin-block-end: 4px;
}

.subHeader {
  margin-inline-start: 4px;
  margin-inline-end: 4px;
}
