/* TODO */
.zeroMargin {
  margin: 0px;
}
.achivementTitle {
  font-size: 14px;
  /* font-style: italic; */
}
.achivementDescription {
  font-size: 12px;
  display: inline;
  margin-left: 10px;
}

.achievementContainer {
  margin-inline: 4px;
  width: fit-content;
}

.heading {
  font-weight: 700;
  font-size: 14px;
}

.achivementsContainer {
  display: flex;
  flex-wrap: wrap;
}
