.projectsContianer {
  --fontSize28: 28px;
  --fontSize24: 24px;
  --fontSize18: 18px;
  --fontSize16: 18px;
  --fontSize14: 14px;
  --fontSize12: 12px;
  --fontSize10: 10px;
  --fontSize8: 8px;
  --fontSize6: 6px;
}

.headersTypeContainer {
  justify-content: space-between;
  align-items: center;
}

.projectHeader {
  margin-block-start: 4px;
  margin-block-end: 4px;
}

.projectSubHeader {
  margin-inline-start: 4px;
  margin-inline-end: 4px;
}

.organisationName {
  font-size: var(--fontSize18);
  margin: 0px;
}

.duration {
  font-size: var(--fontSize18);
}

.position {
  font-size: var(--fontSize14);
  font-style: italic;
}

.location {
  font-size: var(--fontSize14);
  font-style: italic;
}

.horizontalLine {
  margin: 0;
}
